<html>
  <head>
  </head>
  <body>
    <h1>all your repos</h1>
    <ul>
    	<% repos.each do |repo| %>
    		<li><%= repo %> <span><a href="/delete?name=<%= repo %>">delete</a></span></li>
    	<% end %>
    </ul>
  </body>
</html>
